<div class="d-flex flex-row ">
		<MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" Style="min-height: 50px; min-width: 50px;"/>
	<div class="d-flex flex-column justify-content-center ma-1">
		<MudSkeleton Width="120px" />
		<MudSkeleton Width="300px" />
	</div>
</div>