<div class="d-flex flex-row gap-2 align-items-center">
    <MudSkeleton SkeletonType="SkeletonType.Circle" Width="40px" Height="40px" style="background-color: white !important;" />
    <div class="d-flex flex-column pr-5">
        <MudSkeleton Width="80px" style="background-color: white !important;" />
        <MudSkeleton Width="70px" style="background-color: white !important;" />
    </div>
</div>