.body {
    height: 100vh;
}

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    aspect-ratio: 1;
    display: grid;
}

    .loader::before,
    .loader::after {
        content: "";
        grid-area: 1/1;
        --c: no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
        background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
        background-size: 12px 12px;
        animation: l12 1s infinite;
    }

    .loader::before {
        margin: 4px;
        filter: hue-rotate(45deg);
        background-size: 8px 8px;
        animation-timing-function: linear
    }

@keyframes l12 {
    100% {
        transform: rotate(.5turn)
    }
}
hr:not([size]) {
    height: 1px;
}
.absolute-center {
    position: absolute !important;
    top: 50%;
    left: 50%;
}
.bg-alice {
    background-color: lightblue;
}
.height100vh {
    height: 100vh;
}
.mud-toolbar-gutters {
    padding-right: unset !important;
    padding-left: unset !important;
}
.app-search-dark .mud-input-control-input-container {
    border-radius: 25px !important;
}

.app-search-dark .mud-input-outlined .mud-input-outlined-border {
    border-radius: 25px !important;
}

.app-search .mud-input-control-input-container {
    border-radius: 25px !important;
    background-color: white;
}

.app-search .mud-input-outlined .mud-input-outlined-border {
    border-color: white !important;
    border-radius: 25px !important;
}
.app-search .mud-input:after {
    border-bottom: 2px solid white !important;
}
.hide-scrollbar {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.mud-layout {
    overflow: hidden;
}