@page "/frientrequest"

@inherits FriendRequestPageBase

<div class="d-flex justify-content-center gap-2 pa-2">
	<MudItem class="d-flex flex-column gap-2 justify-content-center w-100" xs="12" sm="8" md="6" lg="4">
		@foreach(var friend in friendRequests)
		{
			<MudItem class="paper shadow pa-5 w-100" xs="12">
				<AcceptFriendComponent OnDeleteFriendRequest="(e) => Remove(e)" FriendRequestModel="friend" ShowDeleteButton></AcceptFriendComponent>
			</MudItem>
		}
	</MudItem>
</div>