@page "/"

@inherits HomePageBase

<PageTitle>Home Page</PageTitle>
<MudGrid Spacing="0">
	@* Style="height: calc(100vh - 60px);" *@
	<MudItem Class="overflow-auto pa-2" xs="12" sm="5" md="5" lg="3">
		<MudAutocomplete Class="@($"{(GlobalClass.IsDarkMode ? "app-search-dark" : "app-search")}")"
		T="MessageModel"
		Context="user"
		Placeholder="Search Conversation"   
		OpenIcon="@Icons.Material.Filled.Search"
		Variant="Variant.Outlined"
		DebounceInterval="500"
		MinCharacters="1"
		Margin="Margin.Dense"
		ToStringFunc="(e) => null">
			<ItemTemplate>
				@* <UserComponent User="user"></UserComponent> *@
			</ItemTemplate>
		</MudAutocomplete>
	</MudItem>
	@* Style="height: calc(100vh - 60px)" *@
	<MudItem Class="d-flex flex-row gap-1" xs="12" sm="7" md="7" lg="9">
		<div class="hide-scrollbar d-flex flex-row overflow-auto gap-4" style="max-height: 90px;">
			@if (friends.Count <= 0)
			{
				for(int i =0 ; i < loaderCount; i++)
				{
					<FriendsSkeleton></FriendsSkeleton>
				}
			} else {
				<MudVirtualize Context="friend" T="FriendsModel" Items="friends">
					<FriendContainerComponent Friend="friend"></FriendContainerComponent>
				</MudVirtualize>
			}
		</div>
	</MudItem>
	<MudItem Class="d-flex flex-column gap-4 pa-2 overflow-hidden" xs="12" sm="5" md="5" lg="3" Style="display: none !important;">
		<ChatRoomComponent></ChatRoomComponent>
	</MudItem>
	<MudItem Class="d-flex flex-row gap-1 pa-2" xs="12" sm="7" md="7" lg="9">
		<ConversationComponent></ConversationComponent>
	</MudItem>
</MudGrid>
