@inherits ChatRoomUserComponentBase

@if (IsLoading) {
	<ChatRoomSkeleton></ChatRoomSkeleton>
} else
{
	<MudButton OnClick="ShowConversation" Class="text-start d-flex justify-content-start flex-shrink-0">
		<div class="d-flex flex-row gap-2">
			<MudAvatar Size="Size.Medium"> 
				<MudImage Src="@(String.IsNullOrEmpty(User?.PhotoUrl) ? PhotoHelper._defaultPhoto : User.PhotoUrl)"></MudImage>
			</MudAvatar>
			<div class="d-flex flex-column">
				<MudText Typo="Typo.subtitle2">@User?.DisplayName</MudText>
				<MudText Typo="Typo.caption">@((ChatRoom?.Messages?.Last() ?? new()).Text ?? "No Message")</MudText>
			</div>
		</div>
	</MudButton>
	
}