@inherits FriendContainerComponentBase

<div class="d-flex flex-column justify-content-center gap-1 align-items-center">
	<MudAvatar Size="Size.Medium">
		<MudImage Src="@(String.IsNullOrEmpty(User?.PhotoUrl) ? PhotoHelper._defaultPhoto : User.PhotoUrl)"></MudImage>
	</MudAvatar>
	<MudText Typo="Typo.caption">@User?.DisplayName</MudText>
</div>