<div class="height100vh d-flex justify-content-center align-items-center">
    <MudProgressCircular Color="Color.Primary"
                         Size="Size.Medium"
                         Indeterminate="true"
                         Class="d-flex justify-center align-center" />
</div>