<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <MudProgressCircular Color="Color.Primary"
                         Size="Size.Medium"
                         Indeterminate="true"
                         Class="d-flex justify-center align-center" />
</div>